.answers-container {
  font-size: .8em;
  padding-left: 2em;
  padding-right: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}

.conversations {
  text-align: start;
  color: whitesmoke;
  margin-top: 2%;
  margin-left: 7%;
}

.conversation-request {
  font-size: 1.5em;
  color: whitesmoke;
  margin-left: 10%;
}