h1 {
  margin: 0;
  font-size: 2.2em;
  font-weight: 600;
  text-shadow: 3px 3px 3px black;
  padding: .7% 0 .2% 0;
}

p {
  font-size: 1.3em
}

button {
  font-family: 'Bitter', serif;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: .5s;
}

.app {
  text-align: center;
  font-family: 'Bitter',serif;
  color: #F7F7F7;
  background: linear-gradient(180deg, rgba(17, 35, 78, 1) 0%, rgba(26, 59, 112, 1) 50%, rgba(92, 131, 196, 1) 100%);
  height: 100vh;
}

.header {
  border-bottom: 1px solid #F58124;
  margin: 0 4% 0 4%;
}