p {
  font-size: 1.1em;
}

button, h1, h2, p {
  font-family: 'Bitter', serif;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: .3s;
}

.app {
  text-align: center;
  font-family: 'Bitter',serif;
  background: linear-gradient(180deg, rgba(1, 50, 82, 1) 0%, rgba(0, 80, 129, 1) 50%, rgba(15, 170, 185, 1) 100%);
  height: 100vh
}
