.intro {
  line-height: 1.5;
  color: whitesmoke;
  text-shadow: 2px 3px 4px #00111c;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  font-size: 1.2em;
  color: #2ABBC7;
  font-weight: 800;
  text-shadow: 2px 3px 4px #00111c;
}

textarea {
  font-size: 1.1em;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 1em;
  background-color: transparent;
  padding: 14px 28px;
  cursor: text;
  box-shadow: 19px 19px 20px 4px #013252;
  color: #FCED31;
  text-shadow: 2px 3px 4px #00111c;
  resize: none;
  border: none;
}

::placeholder {
  color: whitesmoke;
  text-shadow: 2px 3px 4px #00111c;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%
}

.form-button {
  margin-top: 1.5%;
  border-radius: 10px;
  height: 3em;
  width: 10em;
  font-size: .9em;
  color: #00111c;
  border: none;
}

.ask-button {
  margin-top: 1.5%;
  border-radius: 10px;
  height: 4em;
  width: 12em;
  font-size: .9em;
  color: #00111c;
  border: none;
}

.form-button:hover {
  background-color: rgba(15, 170, 185, 1);
  color: whitesmoke
}

.ask-button:hover {
  background-color: #FCED31;
}

@media screen and (max-width: 850px) {
  textarea {
    width: 80vw
  }
}

@media screen and (max-width: 815px) {
  .intro {
    padding-left: 3%;
    padding-right: 3%
  }
}

@media screen and (max-width: 550px) {
  .more-ideas-button {
    margin-right: 1%
  }

  .ideas-button {
    margin-left: 1%
  }
}

@media screen and (max-width: 440px) {
  textarea {
    height: 8vh
  }
}